/*inport poppins*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
    --dark : #181818;
    --light : #f2f2f2;
    --smooth-white: #ffffffcb;
    --blue : #223A59;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins' ,'Roboto', sans-serif;
    font-size: 1.1rem;
    line-height: 1.5;
    background-color: #121212;
    /*background: url(../img/aincrad-dark.jpg) no-repeat center center/cover fixed;   */
    color: white;
    overflow-x: hidden;
}

*::-webkit-scrollbar {
    width: 12px; 
}

*::-webkit-scrollbar-track {
    background: var(--dark)
}

*::-webkit-scrollbar-thumb {
    background-color: var(--smooth-white);
    border-radius: 20px; 
    border: 3px solid var(--dark);
}

.parallax-div {
    position: absolute;
    background-color: rgb(12, 12, 12);
    width: 100%;
    height: 50vh;
    z-index: 3;
}

.body-background {
    position: fixed;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -3;
}

.body-background video {
    width: 100%;
    height: 100%;
    z-index: -1;
    pointer-events: none;
    object-fit: cover;
}

.body-background {
    position: fixed;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -3;
}

.background {
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: #000;
}

.background video {
    z-index: -2;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    pointer-events: none;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); 
    z-index: 0; 
}

.hero-container {
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.logo {
    position: absolute;
    top: 1rem;
    left: 3rem;
    font-size: 2rem;
    font-weight: 600;
}

.logo small {
    font-size: 1rem;
    color: var(--smooth-white);
}

.logo-2 {
    position: absolute;
    top: 1rem;
    right: 3rem;
    font-size: 2rem;
    font-weight: 600;
    color: var(--smooth-white);
}

.hero-text-container {
    position: absolute;
    top: 40%;
}

.hero-content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 3rem;
}

.hero-content-container img {
    width: 20rem;
    height: 10rem;
    object-fit: cover;
    border-radius: 1rem;
    border: 2px solid #fff;
    transition: all 0.3s ease-in-out;
    margin: 0 4rem;
}

.hero-content-container img:hover {
    scale: 1.02;
}

.hero-content-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-content-item-text {
    display: flex;
    flex-direction: column;
}

.arrow-container {
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    bottom: 30%;
    text-align: center;
    cursor: pointer;
}

.arrow p {
    font-size: 1.5rem;
    animation: bounce 2s infinite;
    color: var(--smooth-white);
}

.arrow svg {
    width: 100px;
    height: 100px;
    animation: bounce 2s infinite;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(10px);
    }
    60% {
        transform: translateY(5px);
    }
}

h1 {
    font-size: 7rem;
    text-align: center;
    letter-spacing: 1rem;
    line-height: 0.9;
    font-weight: 500;
    margin-bottom: 1rem;
    color: white;
}

h2 {
    font-size: 2.5rem;
    font-weight: 600;
    color: white;
    margin: 0 2rem;
}

h4 {
    font-size: 2rem;
}

h5 {
    font-size: 1.5rem;
    color: var(--smooth-white);
}

a:hover {
    cursor: pointer;
}

.btn {
    font-size: 0.8rem;
    position: relative;
    padding: 0.8rem 2.2rem;
    border-radius: 4rem;
    background-color: transparent;
    color: #fff;
    border: solid 2px rgba(250, 250, 250, 0.9);
    overflow: hidden;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

.btn:active {
    scale: 0.9;
}
.btn .btn-text {
    position: relative;
    font-size: 1.5em;
    z-index: 2;
}
.btn .fill-container {
    position: absolute;
    background-color: transparent;
    left: 0;
    top: 50%;
    width: 100%;
    padding-bottom: 100%;
    transform: translateY(-50%) rotate(180deg);
}
.btn .fill-container::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 50%;
    transition: all 0.6s cubic-bezier(0.25, 1, 0.5, 1);
    transform: translateY(-100%);
}
.btn:hover {
    color: black;
    border-color: white;
}
.btn:hover .fill-container {
    transform: translateY(-50%) rotate(0);
}
.btn:hover .fill-container::after {
    transform: translateY(0);
}

.discover-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.level-container {
    overflow-x: auto;
    overflow-y: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-start; 
    white-space: nowrap; 
    width: 100%;
    height: 100%;
    transition: all 0.3s ease-in-out;
    padding: 0 2rem;
}


/*.level-container-left {
    left: 0;
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
}

.level-container-center {
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
}

.level-container-right {
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
}

.animated-level-card {
    position: relative;
    width: 700px;
    height: 990px;
    overflow: hidden;
    margin: 3rem 2rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.animated-level-card video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s ease-in-out;
    border-radius: 20px;
}

.animated-level-card:hover{
    transform: scale(1.05);
    border-radius: 0;
    height: 1090px;
    margin: 0;
}*/

.level-card {
    position: relative;
    min-width: 420px;
    max-width: 420px;
    height: 545px;
    background-color: var(--dark);
    overflow: hidden;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin: 1rem;
    padding: 1rem;
}

.level-card:hover {
    transform: scale(1.05);
}

.level-card img {
    width: 100%;
    height: 60%;
    object-fit: cover;
    transition: all 0.3s ease-in-out;
    border-radius: 10px;
}

.level-card:hover img {
    transform:scale(1.02);
}

.level-card h3 {
    text-align: center;
    font-size: 1.2rem;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 1rem 0;
}

.level-card::before {
    content: "";
    position: absolute;
    top: -50%;
    width: 100%;
    height: 100%;
    transition: 0.5s;
}

.level-card::after {
    content: "Aincrad";
    position: absolute;
    bottom: 0;
    right: 0;
    font-weight: 600;
    font-size: 6em;
    color: rgba(83, 81, 81, 0.1);
}
  



.overlay-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1; 
}

.character-container {
    overflow-x: auto;
    overflow-y: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-start; 
    white-space: nowrap; 
    width: 100%;
    height: 100%;
    transition: all 0.3s ease-in-out;
    padding: 0 2rem;
}

.character-card {
    position: relative;
    min-width: 320px;
    max-width: 320px;
    height: 445px;
    background-color: var(--dark);
    /*background: rgba( 0, 0, 0, 0.25 );
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    backdrop-filter: blur( 16px );
    -webkit-backdrop-filter: blur( 16px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );*/
    border-radius: 20px;
    overflow: hidden;
    margin: 1rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    perspective: 1000px;
}

.character-card .front,
.character-card .back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transition: transform 0.5s;
}

.character-card .front {
    border-radius: 20px;
    cursor: pointer;
}

.character-card .back {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    white-space: pre-wrap;
    text-align: justify;
    padding: 2rem;
    background-color: var(--blue);
    border-radius: 20px;
    transform: rotateY(180deg);
}

.character-card.flipped .front {
    transform: rotateY(180deg);
}

.character-card.flipped .back {
    transform: rotateY(0deg);
}

.character-card:hover {
    transform: scale(1.05);
}
  
.character-card::before {
    content: "";
    position: absolute;
    top: -50%;
    width: 100%;
    height: 100%;
    transform: skewY(345deg);
    transition: 0.5s;
}

#kirito-card::before {
    background: #545D6E;
}

#asuna-card::before {
    background: #C87F56;
}

#klein-card::before {
    background: #d15e41;
}

#agil-card::before {
    background: #336B53;
}

#silica-card::before {
    background: #95D8E8;
}

#lisbeth-card::before {
    background: #E8A6B5;
}
  
.character-card:hover::before {
    top: -70%;
    transform: skewY(390deg);
}
  
.character-card::after {
    content: "SAO";
    position: absolute;
    bottom: 0;
    left: 0;
    font-weight: 600;
    font-size: 6em;
    color: rgba(83, 81, 81, 0.1);
}
  
.character-card .imgBox {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    z-index: 1;
}

.character-card .contentBox {
    position: relative;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 2;
}
  
.character-card h3 {
    font-size: 1.2rem;
    color: white;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
}
  
.character-card .nickname {
    position: relative;
    top: 100px;
    opacity: 0;
    padding: 10px 30px;
    margin-top: 15px;
    color: #000000;
    text-decoration: none;
    border-radius: 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: 0.5s;
}
  
.character-card:hover .nickname {
    top: 0;
    opacity: 1;
}

.character-card .card-img {
  height: 300px;
  width: auto;
  border-bottom: 5px solid rgba(255, 255, 255, 0.1);
  transition: all 0.3s ease-in-out;
}

.character-card:hover .card-img {
    transform: scale(1.1);
    /* rotateY(180deg) */
}

.trailer-container {
    position: relative;
    width: 100%;
    height: 30rem;
    margin: 7rem 0 0 0;
    background-color: var(--blue);
    transition: all 0.3s ease-in-out;
}

.trailer-container:hover {
    transform: scale(1.05);
}

.trailer {
    position: absolute;
    width: 30%;
    aspect-ratio: 16/9;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    margin-left: 5rem;
}

.trailer-text-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%);
}

.trailer-text {
    font-size: 4rem;
    text-align: center;
    letter-spacing: 0.2rem;
    line-height: 1;
    font-weight: 500;
    margin-bottom: 1rem;
    color: white;
    padding: 5rem 3rem;
    margin-right: 5rem;
    
    background: rgba(197, 197, 197, 0.25);
    box-shadow: 0 8px 32px 0 rgba(73, 72, 72, 0.37);
    backdrop-filter: blur( 6px );
    -webkit-backdrop-filter: blur( 16px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}



.title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 2rem;
}


.animated-banner-container {
    position: relative;
    width: 100%;
    height: 30rem;
    margin: 7rem 0;
    transition: all 0.3s ease-in-out;
}

.animated-banner-container:hover {
    transform: scale(1.05);
}

.animated-banner-container video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s ease-in-out;
}

.animated-banner-text-container {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translateY(-50%);
}

.animated-banner-text {
    font-size: 4rem;
    text-align: center;
    letter-spacing: 0.2rem;
    line-height: 0.9;
    font-weight: 500;
    margin-bottom: 1rem;
    color: white;
    padding: 5rem 3rem;
    margin-left: 5rem;
    
    background: rgba(197, 197, 197, 0.25);
    box-shadow: 0 8px 32px 0 rgba(73, 72, 72, 0.37);
    backdrop-filter: blur( 16px );
    -webkit-backdrop-filter: blur( 16px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.banner-container {
    position: relative;
    width: 100%;
    height: 30rem;
    margin: 7rem 0;
    transition: all 0.3s ease-in-out;
}

.banner-container:hover {
    transform: scale(1.05);
}

.banner-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s ease-in-out;
}

.banner-text-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%);
}

.banner-text {
    font-size: 4rem;
    text-align: center;
    letter-spacing: 0.2rem;
    line-height: 0.9;
    font-weight: 500;
    margin-bottom: 1rem;
    color: white;
    padding: 5rem 3rem;
    margin-right: 5rem;
    
    background: rgba(197, 197, 197, 0.25);
    box-shadow: 0 8px 32px 0 rgba(73, 72, 72, 0.37);
    backdrop-filter: blur( 6px );
    -webkit-backdrop-filter: blur( 16px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.text-banner-container  {
    text-align: center;
    width: 100%;
    font-weight: 600;
    font-size: 13.5rem;
    white-space: nowrap;
    color: #222222
}



.description-container {
    display: flex;
    width: 100%;
    padding: 2rem;
    overflow-x: auto;
}

.description-card {
    position: relative;
    min-width: 90vw;
    height: 445px;
    background-color: var(--dark);
    /*background: rgba( 0, 0, 0, 0.25 );
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    backdrop-filter: blur( 16px );
    -webkit-backdrop-filter: blur( 16px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );*/
    border-radius: 20px;
    overflow: hidden;
    margin: 1rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.description-card:hover {
    transform: scale(1.05);
}

.description-card::before {
    content: "";
    position: absolute;
    top: -50%;
    width: 100%;
    height: 100%;
    transform: skewY(345deg);
    transition: 0.5s;
}

.description-card::after {
    content: "アインクラッド";
    position: absolute;
    bottom: 0;
    right: 0;
    font-weight: 600;
    font-size: 6em;
    color: rgba(83, 81, 81, 0.1);
}

.description-card h3 {
    font-size: 3rem;
    color: white;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 1rem 2rem ;
}

.description-card p {
    font-size: 1.5rem;
    color: var(--smooth-white);
    font-weight: 400;
    margin: 2rem;
}